.left-side-menu{
    padding: 8px;
    width: 50px;

    border-radius: 0 8px 8px 0;
    background-color: var(--color-3);

    position: absolute;
    top: 50vh;

    transform: translateX(-200%);
    z-index: 1;
    transition: all ease 250ms;

    .left-side-menu-list{
        display: flex;
        flex-direction: column;

        align-items: center;
        gap: 8px;

        list-style: none;

        .left-side-menu-item{
            a{
                color: var(--color-5);
                cursor: pointer;
            }
            a:hover{
                transition: all 10ms;
                color: var(--color-1);
            }
        }
    }
}

.left-side-menu::after{
    content: '';

    width: 15px;
    height: 50px;

    border-radius: 0 8px 8px 0;

    background: url(../../assets/svg/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-3);

    position: absolute;
    top: 50%;
    right: -15px;

    transform: translateY(-50%);
}

.left-side-menu:hover{
    translate: 100%;
}

.left-side-menu.animated{
    transform: translateX(-100%);

    animation: 800ms ease slide-in-left;
    -webkit-animation: 800ms ease slide-in-left;
    -o-animation: 800ms ease slide-in-left;
    -moz-animation: 800ms ease slide-in-left;
}

@keyframes slide-in-left{
    from{
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
    }
    to{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
    }
}